<header>
    <nav class="border-gray-200 bg-gray-900 md:h-24 items-center">
        <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Asignar Tareas
            </span>
            <div class="items-center justify-between w-full md:flex md:w-auto md:order-2" id="navbar-search">

                <ul class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-8 p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700">
                    <li >
                        <a (click)="goBack()" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:hover:text-blue-500 text-white hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700" aria-current="page">Regresar</a>
                    </li> 
                    <li >
                        <a (click)="logout()" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:hover:text-blue-500 text-white hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section class="m-24">
    <form #taskForm="ngForm" (ngSubmit)="asigTask()" action="" class="border-gray-200 bg-gray-900 rounded-md p-2">
        <div class="my-5">
            <label for="task_description" class="block mb-2 text-sm font-medium text-blue-600" >Descripcion de la tarea</label>
            <input [(ngModel)]="task.task_description" type="text" name="task_description" id="task_description" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required #taskDesc="ngModel">
            <div *ngIf="taskDesc.invalid && taskDesc.touched" class="text-red-500 text-sm">
                La descripción de la tarea es requerida.
            </div>
        </div>
        <div class="my-5">
            <label for="task_state" class="block mb-2 text-sm font-medium text-blue-600">Estado de la Tarea:</label>
            <select id="task_state" [(ngModel)]="task.task_state" name="task_state" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required #taskState="ngModel">
                <option *ngFor="let state of states" [value]="state">{{ state }}</option>
            </select>
            <div *ngIf="taskState.invalid && taskState.touched" class="text-red-500 text-sm">
                El estado de la tarea es requerido.
            </div>
        </div>
        
        <div class="my-5">
            <label for="user_id" class="block mb-2 text-sm font-medium text-blue-600">Asignar a Usuario:</label>
            <select id="user_id" [(ngModel)]="task.task_user" name="user_id" class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required #taskUser="ngModel">
                <option *ngFor="let user of users" [value]="user.id">{{ user.user_name }}</option>
            </select>
            <div *ngIf="taskUser.invalid && taskUser.touched" class="text-red-500 text-sm">
                Debes asignar la tarea a un usuario.
            </div>
        </div>
        
        <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600" [disabled]="taskForm.invalid">Asignar Tarea</button>
    </form>
    
</section>